<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/static/css/profile-details.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/profile-details') %>
    <%- include('../partials/script') %>
</body>
</html>
