<footer class="mt-auto">
    <div class="container">
        <div class="text-center">
            &copy; 2025 <a href="https://infinitetag.com/" class="text-primary">Infinitetag</a>. Tüm hakları saklıdır.
        </div>
    </div>
</footer>