<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="footer-hakkimizda"><b>İNFİNİTE TAG</b> <br> <i>Infinitetag, modern dijital kartvizit çözümleri sunar.</i></p>
            </div>
            <div class="col-md-4">
                <h5>Bağlantılar</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/dijital-kartvizit">Dijital Kartvizit</a></li>
                    <li><a href="/evcil-hayvan-tag">Evcil Hayvan Tag</a></li>
                    <li><a href="/dijital-arac-etiketi">Dijital Araç Etiketi</a></li>
                    <li><a href="/">Dijital İşletme Kartı</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>İletişim</h5>
                <a href="mailto:info@infinitetag.com">info@infinitetag.com</a>
            </div>
        </div>
        <div class="text-center">
            &copy; 2025 Infinitetag. Tüm hakları saklıdır.
        </div>
    </div>
</footer>