<div class="password-rules mb-4">
    <h4 class="text-center">Şifre Kuralları</h4>
    <ul>
        <li style="color: red;">Şifreniz en az 8 karakter olmalıdır.</li>
        <li style="color: red;">Şifreniz en az bir büyük harf içermelidir.</li>
        <li style="color: red;">Şifreniz en az bir rakam içermelidir.</li>
        <li style="color: red;">Şifreniz en az bir özel karakter içermelidir.</li>
    </ul>
</div>