<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            height: 100%;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div>
                <img src="../../static/images/notfound.png" alt="">
            </div>
            <div>   
                <p>Yetkisiz İşlem. Bu işlem için yetkili değilsiniz.</p>
                <a href="/">Ana Sayfaya Dön</a>
            </div>
        </div>
    </div>
</body>
</html>