<!DOCTYPE html>
<html lang="tr">

<head>
    <%- include('../partials/head') %>
    <meta name="description" content="Dijital araç tag'ı, yanlış park edilen araçlar için hızlı ve güvenli iletişim sağlar. Park sorunlarını çözmek ve araç sahibine ulaşmak için dijital tag kullanmanın avantajlarını keşfedin.">
    <meta name="keywords" content="dijital araç tag'ı, araç park etiketi, yanlış park aracı, araç sahibi ile iletişim, park sorunu çözme, araç park güvenliği, dijital park etiketi">
    <meta name="author" content="Infinitetag.com">
    <link rel="stylesheet" href="/static/css/home-content.css">
    <link rel="stylesheet" href="/static/css/home-footer.css">
</head>

<body>
    <%- include('../partials/nav') %>
    <div class="container mt-5">
        <!-- Dijital Kartvizit Hakkında Bölüm -->
        <section class="intro">
            <div class="intro-text">
                <h1>Yanlış Park Edilen Araçlar İçin Dijital Araç Tag'ı ile Kolay Ulaşım</h1>
                <p>
                    Dijital araç tag'ı, aracınızın yanlış yere park edilmesi durumunda, park yerini paylaşan kişilerin aracın sahibiyle kolayca iletişime geçmesini sağlar. Bu pratik çözüm sayesinde, aracınızın park hataları hızla çözülür ve park alanları daha düzenli olur.
                </p>
                <a href="/login" class="btn primary-btn">Kullanmaya Başla</a>
            </div>
            <div class="intro-image">
                <img src="../../static/images/dijitalKartvizitHizmet.webp" alt="Dijital Kartvizit Görseli">
            </div>
        </section>

        <!-- Dijital Kartvizit Neden Kullanılmalı? Bölümü -->
        <section class="benefits">
            <div class="benefit-item">
                <h2>Pratik ve Hızlı Çözüm</h2>
                <p>Araç sahibi, aracına ulaşmak isteyen kişilerin mesajlarını anında alabilir ve park sorununa hızlıca çözüm sunabilir.</p>
            </div>
            <div class="benefit-item">
                <h2>Gizlilik ve Güvenlik</h2>
                <p>Dijital araç tag'ı, aracın sahibinin kişisel bilgilerini gizli tutar. Yalnızca aracın park durumu hakkında iletişim sağlanabilir, böylece gizlilik korunur.</p>
            </div>
            <div class="benefit-item">
                <h2>Her Zaman Yanınızda</h2>
                <p>Telefonunuzda ya da bilgisayarınızda her zaman erişebilirsiniz.</p>
            </div>
            <div class="benefit-item">
                <h2>Uygulama Gerektirmez</h2>
                <p>Ekstra mobil uygulama yükü olmadan tarayıcı üzerinden yönetilebilir.</p>
            </div>
        </section>

        <!-- NFC Hakkında Bilgiler -->
        <section class="nfc-info">
            <h2>Dijital Araç Tag'ı Kullanmanın Avantajları:</h2>
            <p>
                Yanlış park edilmiş araçlar, çevreyi ve diğer park alanlarını zor durumda bırakabilir. Dijital araç tag'ı, bu tür durumlarda aracın sahibine ulaşmayı kolaylaştırarak hem park alanlarının düzenlenmesine yardımcı olur hem de park sorunlarının hızlıca çözümlenmesini sağlar.
            </p>

            <h2>Hızlı Çözüm İçin Dijital Araç Tag'ı Kullanmak Önemlidir!</h2>
            <p>
                Yanlış park edilen bir araç için aracın sahibine ulaşmak, genellikle zor bir süreçtir. Ancak, dijital araç tag'ı sayesinde bu işlem çok daha hızlı ve pratik hale gelir. Aracınız park yerinde bırakıldığında, tag üzerindeki bilgiyi okutarak anında ulaşılabilir olursunuz.
            </p>
        </section>

       
        <!-- Kullanmağa Başla Butonu -->
        <section class="cta">
            <h2>Araç Tag'ınızı Bugün Edinin!</h2>
            <p>Aracınızın yanlış park edilmesi durumunda hızla iletişim kurabilmek için dijital araç tag'ınızı hemen edinin. Bu basit ama etkili çözüm, park sorunlarını ortadan kaldıracak ve araç sahiplerinin hayatını kolaylaştıracaktır.</p>
            <a href="/login" class="btn secondary-btn">Harekete Geçin!</a>
        </section>
    </div>

    <%- include('../partials/home-footer') %>
    <%- include('../partials/script') %>
</body>

</html>
