<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head') %>
   <meta name="description" content="Infinite Tag, Yeni nesil dijital kartvizit">
   <meta name="keywords" content="dijital kartvizit, nfc, nfc kart, kartvizit">
   <meta name="author" content="Dijital Kartvizit">
   <link rel="stylesheet" href="/static/css/home-footer.css">
   <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <%- include('../partials/nav') %>
 
    <div>
        <!-- Header -->
        <header>
            <div class="container">
                <h1>Dijital Kartvizit ile Geleceğe Adım Atın</h1>
            </div>
        </header>
    
        <!-- NFC Nedir? -->
        <section class="py-5" id="nfcNedir">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 my-3">
                        <video autoplay muted loop width="50%">
                            <source src="../../static/images/nfc.mp4">
                        </video>
                    </div>
                    <div class="col-md-6 my-3">
                        <h2>NFC Nedir?</h2>
                        <p>NFC (Yakın Alan İletişimi), cihazlar arasında kısa mesafede kablosuz veri alışverişine olanak tanıyan bir iletişim teknolojisidir. NFC, temassız ödeme, dijital kartvizit paylaşımı, toplu taşıma kartları ve erişim kontrol sistemleri gibi birçok alanda kullanılır.</p>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- Dijital Kartvizit Nedir? -->
        <section class="py-5 bg-light" id="dCardNedir">
            <div class="container">
                <h2 class="mb-4 text-center">
                    Infinitetag ile geleneksel kartvizitlere veda edin.
                </h2>
                <div class="row align-items-center">
                    <div class="col-md-6 order-md-2 my-3 text-center">
                        <img src="../../static/images/digitalCardShare.webp" alt="Dijital Kartvizit" class="img-fluid rounded" width="300px" height="300px">
                    </div>
                    <div class="col-md-6 order-md-1 my-3">
                        <h2>Dijital Kartvizit Nedir?</h2>
                        <p>
                            Dijital kartvizit, bilgilerinizi NFC veya QR kod teknolojisiyle saniyeler içinde paylaşmanızı sağlayan modern bir alternatiftir. Geleneksel kartvizitlerin aksine, kağıt israfını önleyerek çevreye duyarlı bir çözüm sunar. Üstelik, bilgilerinizde bir değişiklik olduğunda yenisini bastırmak yerine anında güncelleyebilirsiniz.
                        </p>
                        <p>
                            Infinitetag, dijital kartvizit oluşturma sürecinde size kolaylık sağlar. Kişisel veya kurumsal bilgilerinizi özelleştirmenize, şık tasarımlar sunarak profesyonel bir imaj yaratmanıza olanak tanır. Kartvizitinizi QR kod veya NFC desteğiyle entegre ederek, iş bağlantılarınızla hızlı ve etkili bir şekilde iletişim kurabilirsiniz.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- Karşılaştırma Tablosu -->
        <section class="py-5">
            <div class="container">
                <h2 class="text-center mb-4">Geleneksel ve Dijital Kartvizit Arasındaki Farklar</h2>
                <table class="comparison-table">
                    <thead>
                        <tr>
                            <th>Geleneksel Kartvizit</th>
                            <th>Dijital Kartvizit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="bi bi-x-circle"></i> Kağıt bazlıdır ve fiziksel olarak dağıtılır.</td>
                            <td><i class="bi bi-check-lg"></i> NFC veya QR kod ile dijital olarak paylaşılır.</td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-x-circle"></i> Güncellemek için yeniden baskı gerektirir.</td>
                            <td><i class="bi bi-check-lg"></i> Anında güncellenebilir.</td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-x-circle"></i> Çevresel etkisi yüksektir.</td>
                            <td><i class="bi bi-check-lg"></i> Çevre dostu ve sürdürülebilirdir.</td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-x-circle"></i> Sınırlı bilgi kapasitesine sahiptir.</td>
                            <td><i class="bi bi-check-lg"></i> Daha fazla bilgi ve multimedya ekleme imkanı sunar.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    
        <!-- Hizmetlerimiz -->
        <section  class="py-5" id="services">
            <div class="service-card-container">
                <a href="/dijital-kartvizit">
                    <div class="service-card">
                        <img src="../../static/images/dijitalKartvizitHizmet.webp" alt="Dijital Kartvizit">
                        <div class="overlay"></div>
                        <div class="service-card-text">Dijital Kartvizit</div>
                    </div>
                </a>

                <a href="/evcil-hayvan-tag">
                    <div class="service-card">
                        <img src="../../static/images/evcilHayvanTagHizmet.webp" alt="Evcil Hayvan Tag">
                        <div class="overlay"></div>
                        <div class="service-card-text">
                            Evcil Hayvan Tag
                        </div>
                        <span class="coming-soon">Yakında</span>
                    </div>
                </a>
                
                <a href="/dijital-arac-etiketi">
                    <div class="service-card">
                        <img src="../../static/images/digitalCardShare.webp" alt="Dijital Araç Etiketi">
                        <div class="overlay"></div>
                        <div class="service-card-text">
                            Dijital Araç Etiketi
                        </div>
                        <span class="coming-soon">Yakında</span>
                    </div>
                </a>
                
                <a href="/">
                    <div class="service-card">
                        <img src="../../static/images/digitalCardShare.webp" alt="İşletme Kartı">
                        <div class="overlay"></div>
                        <div class="service-card-text">
                            Dijital İşletme Kartı
                        </div>
                        <span class="coming-soon">Yakında</span>
                    </div>
                </a>
            </div>
        </section>
        

        <!-- Nasıl Kullanılır -->
        <section class="py-5" id="nasilKullanilir">
            <div class="container">
                <h2 class="text-center mb-4">Nasıl Kullanılır?</h2>
                <div class="row g-4">
                    <div class="col-md-4">
                        <div class="step-card">
                            <h4>1. Kayıt Ol</h4>
                            <div>Kayıt ol ve sipariş ver.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="step-card">
                            <h4>2. Profil Oluştur</h4>
                            <div>Profilini oluştur, istediğin profili kartına bağla.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="step-card">
                            <h4>3. Paylaşmaya Başla</h4>
                            <div>Profilini NFC, QR veya LİNK paylaşma özelliklerinden istediğin ile paylaş.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <%- include('../partials/home-footer') %>
    </div>

    <%- include('../partials/script') %>

</body>
</html>